.para1{
    border: 30px solid;
    border-color: red;
    color:black;
    background: red;
    font-size: 20px;
}
.para2{
    border: 30px solid;
    border-color: blue;
    color: black;
    background-color:blue;
    font-size: 23px;
}
.para3{
    border: 30px solid;
    border-color: red;
    color:black;
    background: red;
    font-size: 20px;
}
.para4{
    border: 30px solid;
    border-color:blue;
    color:black;
    background: blue;
    font-size: 22px;
}.para5{
    border: 30px solid;
    border-color: red;
    color:black;
    background: red;
    font-size: 23px;
}.para6{
    border: 30px solid;
    border-color: blue;
    color:black;
    background:blue;
    font-size: 24px;
}.para7{
    border: 30px solid;
    border-color: red;
    color:black;
    background: red;
    font-size: 25px;
}.para8{
    border: 30px solid;
    border-color:blue;
    color:black;
    background: blue;
    font-size: 26px;
}.para9{
    border: 30px solid;
    border-color: red;
    color:black;
    background: red;
    font-size: 27px;
}.para10{
    border: 30px solid;
    border-color:blue;
    color:black;
    background: blue;
    font-size: 28px;